
<%= @event.title %>
<br>
<%= @event.event_description %>
<br>
<%= @event.theatre %>
<br>
<%= @event.movie %>
<br>
<%= @event.date %>
<br>
<%= @event.time %>
<br>
<% if user_signed_in? %>
<p> <%= link_to 'Join Event', new_article_comment_path(@article) %> </p>
<% end %>
