<h3><%= @event.title %></h3>
<br>
<strong>Description:</strong> <%= @event.description %>
<br>
<strong>Theatre:</strong> <%= @event.theatre %>
<br>
<strong>Movie:</strong> <%= @event.movie %>
<br>
<strong>Date:</strong> <%= @event.date.strftime("%b %d") %>
<br>
<strong>Time:</strong> <%= @event.date.strftime("%l:%M%p") %>
<br>
<strong>Organizer:</strong> <%= @event.user.email %>
<br>
<strong>Guest List:</strong> <br>
            <% guests = [] %>
            <% @event.rsvped_users.each do |guest| %>
            <% guests << guest %>
            <%= guest.email %>
            <br>
            <% end %>

<% if user_signed_in? && @event.user != current_user && !(@event.rsvped_users.include? current_user)  %>
<p> <%= link_to 'Join Event', event_join_path(@event), method: :post  %> </p>
<% end %>
<br>
