<h3><%= @event.title %></h3>
<br>
Description: <%= @event.event_description %>
<br>
Theatre: <%= @event.theatre %>
<br>
Movie: <%= @event.movie %>
<br>
Date: <%= @event.date %>
<br>
Time: <%= @event.time %>
<br>
Guest List: <% @event.rsvped_users.each do |user| %>
            <%= user.email %>
            <% end %>



<% if user_signed_in? && @event.user != current_user %>
<p> <%= link_to 'Join Event', event_join_path(@event), method: :post  %> </p>
<% end %>
<br>
<%= link_to 'Home', root_path %>
