<h3><%= link_to 'Home', root_path %></h3>
<p>
<%= @event.title %>
<br>
<%= @event.event_description %>
<br>
<%= @event.theatre %>
<br>
<%= @event.movie %>
<br>
<%= @event.date %>
<br>
<%= @event.time %>
<br>
<% if user_signed_in? %>
<p> <%= link_to 'Join Event', event_join_path(@event), method: :post  %> </p>
<% end %>
