<h3><%= @event.title %></h3>
<br>
Description: <%= @event.description %>
<br>
Theatre: <%= @event.theatre %>
<br>
Movie: <%= @event.movie %>
<br>
Date: <%= @event.date.strftime("%b %d") %>
<br>
Time: <%= @event.date.strftime("%l:%M%p") %>
<br>
Organizer: <%= @event.user.email %>
<br>
Guest List: <br>
            <% @event.rsvped_users.each do |guest| %>
            <%= guest.email %>
            <br>
            <% end %>

<% if user_signed_in? && @event.user != current_user && current_user %>
<p> <%= link_to 'Join Event', event_join_path(@event), method: :post  %> </p>
<% end %>
<br>
