<h3>Enter the Zip Code and the Date</h3>

<%= form_tag queries_path do |f| %>
  <div class="field">
    <%= label_tag :zip, 'Zip Code' %><br>
    <%= text_field_tag :zip %>
  </div>
    <div class="field">
    <%= label_tag :date, 'Date' %><br>
    <%= text_field_tag :date, nil, placeholder: "YYY-MM-DD" %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
<br>
<%= link_to 'Home', root_path %>
<!--Use form_tag instead of form_for if get rid of Query model-->
