<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


<title>Movie Night</title>
<%= stylesheet_link_tag    "application" %>
<%= csrf_meta_tags %>
</head>


<div id="mainmenu" class="bodydiv">
  <body>


    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

          <ul class="nav navbar-nav">
          <li><a href="/">Movie Night</a></li>
          <li><a href="/queries/new">Browse Movies</a></li>
          <li><a href="/events">Browse Movie Nights</a></li>
        </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->

    </nav>


    <% if user_signed_in? %>
    Signed in as <%= current_user.email %>
    | <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to 'Sign in', new_user_session_path %> | <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
    <% if notice %>
    <%= notice %>
    <% end %>
    <div class="container">
      <%= javascript_include_tag "application" %>
      <%= yield %>
    </div>

</div>

  </body>
</div>


</html>









