<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <div id="header">
    <div class="wrap">
     <div class="logo">
      <a href="#bodydiv" class="smoothScroll">MOVIE NIGHT!</a>
    </div>
  </div>
</div>

<title><%= content_for?(:title) ? yield(:title) : "Movie Night" %></title>

<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= csrf_meta_tags %>
</head>


<div id="bodydiv" class="bodydiv">
  <body>


    <div class="row">
      <div class="small-6 large-centered columns"></div>

      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Movie Night</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="/queries/new">Browse Movies</a></li>
            <li><a href="/events">Browse Movie Nights</a></li>
          </ul>
        </section>
      </nav>
      <% if user_signed_in? %>
      Signed in as <%= current_user.email %>
      | <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Sign in', new_user_session_path %> | <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
      <% if notice %>
      <%= notice %>
      <% end %>
      <div class="container">
        <%= javascript_include_tag "application" %>
        <%= yield %>
      </div>

    </div>


  </body>
</div>


</html>









